<div class="webriq cms-container cms-center">
  <div class="webriq cms-text cms-message-box">
    <h2 class="webriq cms-message-title"><img class="logo" src="../assets/images/logo.png"><br>
    WebriQ</h2>

    <div class="webriq cms-login-message">
      <p>Login to your CMS to add or edit content.</p>
    </div>

    <a href="#" class="webriq cms-login-button" {{action "authenticate"}}>
      Login Now
    </a>
  </div>
</div>
