<div class="cms cms-container cms-center">
  <div class="cms cms-text cms-message-box">
    <h2 class="cms cms-message-title"><img class="logo" src="//webriqcms.netlify.com/assets/images/logo.png"><br>
    WebriQ</h2>

    <div class="cms cms-login-message">
      <p>Login to your CMS to add or edit content.</p>
    </div>

    <a href="#" class="cms cms-login-button" {{action "authenticate"}}>
      Login Now
    </a>
  </div>
</div>
